In [36]:
import pandas as pd

In [37]:
jun21 = pd.read_csv("Data/JC-202106-citibike-tripdata.csv")
jun21["month"] = "June"
jun21["year"] = "2021"
jun21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member,June,2021
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member,June,2021
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member,June,2021
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual,June,2021
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member,June,2021

In [38]:
jun22 = pd.read_csv("Data/JC-202206-citibike-tripdata.csv")
jun22["month"] = "June"
jun22["year"] = "2022"
jun22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,EEA3CD3B084370F4,classic_bike,2022-06-30 19:17:16,2022-06-30 19:27:13,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual,June,2022
1,BF568C9B3C5FAE94,classic_bike,2022-06-02 12:46:44,2022-06-02 15:08:33,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual,June,2022
2,DF6B06D460481A7E,classic_bike,2022-06-05 14:17:34,2022-06-05 14:27:12,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual,June,2022
3,A26CDB92CDF7E0EE,electric_bike,2022-06-01 18:57:12,2022-06-01 19:05:58,Clinton St & Newark St,HB409,Pershing Field,JC024,40.737430,-74.035710,40.742677,-74.051789,member,June,2022
4,A2A50E81031E9E7F,electric_bike,2022-06-14 22:45:53,2022-06-14 22:49:39,Oakland Ave,JC022,Pershing Field,JC024,40.737604,-74.052478,40.742677,-74.051789,member,June,2022

In [39]:
jul21 = pd.read_csv("Data/JC-202107-citibike-tripdata.csv")
jul21["month"] = "July"
jul21["year"] = "2021"
jul21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,C9446233AFAB8896,classic_bike,2021-07-15 19:27:25,2021-07-15 19:27:35,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member,July,2021
1,0C3D69370BE39992,electric_bike,2021-07-22 06:41:54,2021-07-22 06:42:03,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member,July,2021
2,3B0390B706281176,classic_bike,2021-07-19 06:36:13,2021-07-19 06:38:18,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member,July,2021
3,9AFBC07247ABE507,classic_bike,2021-07-08 06:33:45,2021-07-08 06:35:53,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member,July,2021
4,ADB073F7FFC372D3,classic_bike,2021-07-21 07:33:49,2021-07-21 08:00:14,14 St Ferry - 14 St & Shipyard Ln,HB202,Columbus Dr at Exchange Pl,JC106,40.752961,-74.024353,40.716870,-74.032810,casual,July,2021

In [40]:
jul22 = pd.read_csv("Data/JC-202207-citbike-tripdata.csv")
jul22["month"] = "July"
jul22["year"] = "2022"
jul22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member,July,2022
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual,July,2022
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member,July,2022
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member,July,2022
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual,July,2022

In [41]:
aug21 = pd.read_csv("Data/JC-202108-citibike-tripdata.csv")
aug21["month"] = "August"
aug21["year"] = "2021"
aug21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,A113F664678F00EC,classic_bike,2021-08-31 08:42:09,2021-08-31 08:50:01,Mama Johnson Field - 4 St & Jackson St,HB404,Willow Ave & 12 St,HB505,40.743140,-74.040041,40.751867,-74.030377,casual,August,2021
1,181C24F4DAD629B4,classic_bike,2021-08-14 18:16:31,2021-08-14 18:46:40,Communipaw & Berry Lane,JC084,Communipaw & Berry Lane,JC084,40.714358,-74.066611,40.714358,-74.066611,casual,August,2021
2,89F02E7FE759B7C6,electric_bike,2021-08-22 04:19:40,2021-08-22 04:41:52,Astor Place,JC077,City Hall,JC003,40.719282,-74.071262,40.717732,-74.043845,casual,August,2021
3,664FA523777D686C,classic_bike,2021-08-19 08:05:53,2021-08-19 08:11:44,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member,August,2021
4,4B1FE4E68C7E9721,classic_bike,2021-08-11 14:54:27,2021-08-11 15:16:43,14 St Ferry - 14 St & Shipyard Ln,HB202,Harborside,JC104,40.752961,-74.024353,40.719252,-74.034234,casual,August,2021

In [42]:
aug22 = pd.read_csv("Data/JC-202208-citibike-tripdata.csv")
aug22["month"] = "August"
aug22["year"] = "2022"
aug22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member,August,2022
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member,August,2022
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member,August,2022
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member,August,2022
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member,August,2022

In [43]:
df = [jun21, jun22, jul21, jul22, aug21, aug22]
data = pd.concat(df)
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member,June,2021
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member,June,2021
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member,June,2021
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual,June,2021
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member,June,2021

In [44]:
data.to_csv("Data/JC-Summer-2021-2022-citibike-tripdata.csv")